.forecast-item {
  min-width: 130px;
  border-radius: 0.8rem;
  background: #024879;
  color: var(--text-color-light);
  padding: 1rem 0.8rem;
}

.forecast-item h4 {
  text-align: center;
  font-size: 1;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.temperature-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.temperature-block > div > div:first-child {
  margin-bottom: 0.4rem;
}

.temperature-block p {
  font-size: 1.2rem;
}

.temperature-block svg {
  font-size: 2rem;
  top: -7px;
}

.forecast-item-image-wrapper {
  width: 45%;
}

.details-block {
  display: flex;
  margin-top: 1rem;
  gap: 0.4rem;
  justify-content: space-between;
}

.details-block img,
.details-block svg {
  width: 20px;
  height: 20px;
}

.details-block span {
  font-size: 0.85rem;
}

@media (min-width: 768px) {
  .forecast-item {
    width: 160px;
  }
}
