.current-weather {
  position: relative;
  margin-top: 2rem;
  padding: 1rem 0.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  color: var(--text-color-light);
}

.blur-background {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(8px);
  z-index: -1;
}

.weather-details {
  width: 60%;
}

.temperature-block {
  display: flex;
  justify-content: space-between;
}

.details-block {
  text-align: center;
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
}

.image-wrapper {
  width: 40%;
}

.image-wrapper img {
  margin-top: -20px;
}

.image-wrapper .weather-icon-placeholder {
  width: 30%;
  margin: 0 auto;
  display: block;
}

.image-wrapper p {
  margin-top: 1.2rem;
  font-size: 0.9rem;
}
