.current-weather {
  position: relative;
  padding: 3rem 0 1rem 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  color: var(--text-color-light);
  max-width: 500px;
  margin: 2rem auto 0;
}

.blur-background {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(8px);
  background: linear-gradient(358deg, #024879, transparent, #024879);
  border-radius: 1.5rem;
  z-index: -1;
}

.current-weather h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  text-align: center;
  text-wrap: nowrap;
  top: 0.8rem;
}

.weather-details {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.temperature-block {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.details-block {
  text-align: center;
  display: flex;
  margin-top: auto;
  gap: 1rem;
}

.image-wrapper {
  width: 40%;
}

.image-wrapper img {
  margin-top: -20px;
}

.image-wrapper .weather-icon-placeholder {
  width: 30%;
  margin: 0 auto;
  display: block;
}

.last-update {
  margin-bottom: 0.4rem;
  color: #3cb7ff;
}

.image-wrapper p {
  font-size: 0.9rem;
}
