.temperature {
  position: relative;
  width: fit-content;
}

.temperature-text {
  font-size: 3.4rem;
  width: fit-content;
  color: var(--color-primary);
}

.temperature svg {
  font-size: 1.6rem;
  position: absolute;
  top: 0;
  right: -25px;
  color: var(--text-color-light);
}
