.form {
  max-width: 400px;
  margin: 3rem auto 0;
}

.search {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 0.6rem;
}

.search .input {
  width: 80%;
  border-radius: 3rem;
  font-size: 1rem;
  padding: 0.6rem;
  border: none;
  outline: none;
  color: var(--text-color-dark);
}

.search input::placeholder {
  font-size: 0.9rem;
  color: var(--text-color-dark);
}

.search input:focus {
  outline: 2px solid var(--color-primary);
}

.search p {
  position: absolute;
  top: 100%;
  margin-top: 0.4rem;
  font-size: 0.9rem;
  left: 13px;
  color: #edeff3;
}

.search button {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  font-size: 1.4rem;
  line-height: 0;
  background-color: var(--color-primary);
  color: var(--text-color-gray);
}
