:root {
  --color-primary: #f8d62e;
  --color-secondary: #5c6bc0;
  --text-color-light: #edeff3;
  --text-color-dark: #212121;
  --text-color-gray: #757575;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
